<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>添加测试用例</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../../static/home/css/oksub.css">
    <style>
        button{
            border:none !important;
            background: #fff;
        }
    </style>
</head>
<body>
<div class="ok-body">
    <form class="layui-form ok-form layui-form-pane" lay-filter="filter" action="">
        <div class="layui-form-item">
            <div class="layui-input-inline" style="width: 20%">
                <label class="layui-form-label">配置环境</label>
                <div class="layui-input-block">
                    <select name="environment" id="environment">
                        <option value="1" selected>准生产</option>
                        <option value="2">联调主</option>
                        <option value="3">联调次</option>
                        <option value="4">测试主</option>
                        <option value="5">测试次</option>
                        <option value="6">模拟环境</option>
                        <option value="7">生产</option>
                    </select>
                </div>
            </div>
            <div class="layui-input-inline" style="width: 78%">
                <label class="layui-form-label">用例编号组</label>
                <div class="layui-input-block">
                    <input type="text" name="testIdGroup" autocomplete="off" class="layui-input" disabled>
                </div>
            </div>
        </div>
        <div class="layui-form-item" id="testList">
            <!--<div class="layui-input-inline">
                <label class="layui-form-label">用例</label>
                <div class="layui-input-inline" style="width: 35%">
                    <label class="layui-form-label">接口</label>
                    <div class="layui-input-block">
                        <input type="text" name="uri" autocomplete="off" class="layui-input" disabled>
                    </div>
                </div>
            </div>
            <div class="layui-input-inline" style="width: 55%">
                <label class="layui-form-label">描述</label>
                <div class="layui-input-block">
                    <input type="text" name="testMark" autocomplete="off" class="layui-input"
                           disabled>
                </div>
            </div>
            <div class="layui-input-inline" id="testId"></div>-->
        </div>


        <!-- 账号输入区域-->
        <div id="userAndPassword">
            <!--<div>
                <div class="layui-input-inline" style="width: 25%">
                    <label class="layui-form-label">账号</label>
                    <div class="layui-input-block">
                        <input type="text" name="accountName" autocomplete="off" class="layui-input"
                               lay-verify="required" id="accountName">
                    </div>
                </div>
                <div class="layui-input-inline" style="width: 25%">
                    <label class="layui-form-label">密码/验证码</label>
                    <div class="layui-input-block">
                        <select name="wordType" lay-filter="wordType" id="environment">
                            <option value="1" selected>密码</option>
                            <option value="2">验证码：8888</option>
                            <option value="3">真实验证码</option>
                        </select>
                    </div>
                </div>
                <div class="layui-input-inline" id="password" style="width: 25%">
                    <label class="layui-form-label">密码</label>
                    <div class="layui-input-block">
                        <input type="text" name="password" autocomplete="off" class="layui-input" id="passwordText">
                    </div>
                </div>
                <div class="layui-input-inline" id="codeword" style="display: none ;width: 25%">
                    <label class="layui-form-label">验证码</label>
                    <div class="layui-input-block">
                        <input type="text" name="codeword" autocomplete="off" class="layui-input" id="codewordText"
                        >
                    </div>
                </div>
                <div class="layui-input-inline" id="getCodeword" style="display:none;width: 20%">
                    <input class="layui-btn" type="button" value="获取验证码" onclick="getcodeword();">
                </div>
            </div>-->
        </div>


        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="doTest">执行用例</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
        <div class="layui-form-item" id="statusExpect">
        </div>
        <div class="layui-form-item layui-form-text" id="response" style="overflow-y:visible">
        </div>
    </form>
</div>


<!--js逻辑-->
<script src="../../../static/home/lib/layui/layui.js"></script>
<script>
    var initData;
    var testNum;
    var testListData = new Array();

    function initForm(data) {
        var testIdGroupList = new Array();
        testListData = data;
        testNum = data.length;
        var jsonString = JSON.stringify(data[0]);
        initData = JSON.parse(jsonString);
        layui.use(["element", "form", "okLayer", "okUtils", "jquery", "layer"], function () {

            var form = layui.form;
            var okLayer = layui.okLayer;
            var okUtils = layui.okUtils;
            var $ = layui.jquery;
            var layer = layui.layer;

            //放测试用例的信息
            if (testNum > 0) {

                for (var i = 0; i < testNum; i++) {
                    testIdGroupList[i] = testListData[i].testCaseId;
                    $("#testList").append(
                        "<div class=\"layui-form-item\">" +
                        "<label class=\"layui-form-label\">用例" + testListData[i].testCaseId + "</label>\n" +
                        "            <div class=\"layui-input-inline\" style=\"width: 30%\">\n" +
                        "                <label class=\"layui-form-label\">接口</label>\n" +
                        "                <div class=\"layui-input-block\">\n" +
                        "                    <input type=\"text\" autocomplete=\"off\" class=\"layui-input\" disabled value=\"" + testListData[i].uri + "\">\n" +
                        "                </div>\n" +
                        "            </div>\n" +
                        "            <div class=\"layui-input-inline\" style=\"width: 40%\">\n" +
                        "                <label class=\"layui-form-label\">描述</label>\n" +
                        "                <div class=\"layui-input-block\">\n" +
                        "                    <input type=\"text\" autocomplete=\"off\" class=\"layui-input\"\n" +
                        "                           disabled value=\"" + testListData[i].testMark + "\">\n" +
                        "                </div>\n" +
                        "            </div>" +
                            "<div id=\"testId"+testListData[i].testCaseId+"\"></div>"+
                        "</div>"
                    )
                }
            }
            initData.testIdGroup = testIdGroupList;
            var deviceList = new Array();
            var testDevice;
            var k = 0;
            for (var i = 0; i < testNum; i++) {
                testDevice = testListData[i].device;
                var is = true;
                for (var j = 0; j < deviceList.length; j++) {
                    if (testDevice == deviceList[j]) {
                        is = false;
                    }
                }
                if (is) {
                    deviceList[k] = testDevice;
                    k++;
                    if (testDevice == 2) {
                        $('#userAndPassword').append(
                            "<div>\n" +
                            "                <div class=\"layui-input-inline\" style=\"width: 25%\">\n" +
                            "                    <label class=\"layui-form-label\">门店账号</label>\n" +
                            "                    <div class=\"layui-input-block\">\n" +
                            "                        <input type=\"text\" name=\"StoreAccount\" autocomplete=\"off\" class=\"layui-input\"\n" +
                            "                               lay-verify=\"required\" id=\"accountName\">\n" +
                            "                    </div>\n" +
                            "                </div>\n" +
                            "                <div class=\"layui-input-inline\" style=\"width: 25%\">\n" +
                            "                    <label class=\"layui-form-label\">密码/验证码</label>\n" +
                            "                    <div class=\"layui-input-block\">\n" +
                            "                        <select name=\"wordType\" lay-filter=\"wordType\">\n" +
                            "                            <option value=\"1\" selected>密码</option>\n" +
                            "                            <option value=\"2\">验证码：8888</option>\n" +
                            "                            <option value=\"3\">真实验证码</option>\n" +
                            "                        </select>\n" +
                            "                    </div>\n" +
                            "                </div>\n" +
                            "                <div class=\"layui-input-inline\" id=\"password\" style=\"width: 25%\">\n" +
                            "                    <label class=\"layui-form-label\">密码</label>\n" +
                            "                    <div class=\"layui-input-block\">\n" +
                            "                        <input type=\"text\" name=\"password\" autocomplete=\"off\" class=\"layui-input\" id=\"passwordText\">\n" +
                            "                    </div>\n" +
                            "                </div>\n" +
                            "                <div class=\"layui-input-inline\" id=\"codeword\" style=\"display: none ;width: 25%\">\n" +
                            "                    <label class=\"layui-form-label\">验证码</label>\n" +
                            "                    <div class=\"layui-input-block\">\n" +
                            "                        <input type=\"text\" name=\"codeword\" autocomplete=\"off\" class=\"layui-input\" id=\"codewordText\"\n" +
                            "                        >\n" +
                            "                    </div>\n" +
                            "                </div>\n" +
                            "                <div class=\"layui-input-inline\" id=\"getCodeword\" style=\"display:none;width: 20%\">\n" +
                            "                    <input class=\"layui-btn\" type=\"button\" value=\"获取验证码\" onclick=\"getcodeword();\">\n" +
                            "                </div>\n" +
                            "            </div>\n" +
                            "        </div>"
                        );
                    }
                }
            }

            form.on("select(wordType)", function (data) {
                if (data.value == 1) {
                    showByCheckBox(true, "password", "passwordText");
                    showByCheckBox(false, "codeword", "codewordText");
                    $("#getCodeword").hide();
                } else if (data.value == 2) {
                    showByCheckBox(false, "password", "passwordText");
                    showByCheckBox(true, "codeword", "codewordText");
                    $("#getCodeword").hide();
                    initData.codeword = "8888"
                    form.val("filter", initData);
                } else {
                    showByCheckBox(false, "password", "passwordText");
                    showByCheckBox(true, "codeword", "codewordText");
                    $("#getCodeword").show();
                }
            });



            form.on("submit(doTest)", function (data) {

                form.render();
                var loadIndex;
                $.ajax({
                    url: "/dotest/group",
                    data: data.field,
                    type: "post",
                    dataType: "json",
                    beforeSend: function () {
                        loadIndex = layer.load(0, {shade: 0.3});
                    },
                    success: function (response) {
                        if (response.code == 0) {
                            var value = response.data;
                            for (var i in value) {
                                var valueJson = value[i];
                                var testId = "testId" + valueJson[0];
                                $("#" + testId + "").html( "<div></div>");
                                if (valueJson[1] == "true" && valueJson[2]=="true" && valueJson[3]=="true") {
                                    $("#" + testId + "").append(
                                        "<div class=\"layui-input-inline\">" +
                                        "<i class=\"layui-icon layui-icon-face-smile\" style=\"font-size: 30px; color:green\" ></i>" +
                                        "</div>"
                                    );
                                } else {
                                    $("#" + testId + "").append(
                                        "<i class=\"layui-icon layui-icon-face-cry\"  style=\"font-size: 30px; color:red;\">"+"</i>"
                                    );
                                }
                            }
                        } else {
                            layer.msg(response.msg);
                        }

                    },
                    complete: function () {

                            layer.close(loadIndex);

                    },

                });
                return false;
        });

            form.val("filter", initData);
            form.render();


            /*方法区*/

            //通过复选框，决定展示不展示,同时清空value，移除必填的属性
            function showByCheckBox(b, showId, showTextId) {
                if (b) {
                    $("#" + showId + "").show();
                    $("#" + showTextId + "").attr("lay-verify", "required");
                } else {
                    $("#" + showId + "").hide();
                    $("#" + showTextId + "").removeAttr("lay-verify");
                    $("#" + showTextId + "").val("");
                }
            }


        });
    }


</script>
<script>
    function getcodeword() {
        layui.use(['layer'], function () {
            var layer = layui.layer;
            var $ = layui.jquery;
            var telephone = $('#accountName').val();
            var environment = $('#environment').val();
            console.log(environment);
            if (telephone.length != 11) {
                layer.msg("手机号码格式错误", {
                    time: 2000,
                });
            } else {
                layer.msg('确定发送验证码？', {
                    time: 5000,//2秒自动关闭
                    btn: ['确定', '取消'],
                    yes: function (index) {
                        $.ajax({
                            url: "/dotest/getCode",
                            data: {'accountName': telephone, 'environment': environment},
                            type: "Post",
                            dataType: "json",
                            beforeSend: function () {
                                loadIndex = layer.load(0, {shade: 0.3});
                            },
                            success: function (response) {
                                layer.msg(response.msg,{
                                    time : 1500,
                                })
                            },
                            complete: function () {
                                layer.close(loadIndex);

                            },

                        });
                        layer.close(index);
                    }
                });
            }
        });
    }

</script>
<script src="../../../static/home/lib/wangEditor/release/wangEditor.min.js"></script>
</body>
</html>
