<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>用例管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../../static/home/css/oksub.css">
</head>
<body>
    <div class="ok-body">
        <!--模糊搜索区域-->
        <div class="layui-row">
            <form class="layui-form layui-col-md12 ok-search">
               <!-- <input class="layui-input" placeholder="开始日期" autocomplete="off" id="startTime" name="startTime">
                <input class="layui-input" placeholder="截止日期" autocomplete="off" id="endTime" name="endTime">-->
                <input class="layui-input" placeholder="接口名称" autocomplete="off" name="name">
                <input class="layui-input" placeholder="uri" autocomplete="off" name="uri">
                <button class="layui-btn" lay-submit="" lay-filter="search">
                    <i class="layui-icon">&#xe615;</i>
                </button>
            </form>
        </div>
        <!--数据表格-->
     <table class="layui-hide" id="tableId" lay-filter="tableFilter"></table>
    </div>
    <!--js逻辑-->
    <script src="../../../static/home/lib/layui/layui.js"></script>
    <script>
        layui.use(["element", "table", "form", "laydate", "okLayer", "okUtils", "okMock"], function () {
            var table = layui.table;
            var form = layui.form;
            var laydate = layui.laydate;
            var okLayer = layui.okLayer;
            var okUtils = layui.okUtils;
            var okMock = layui.okMock;

            /*console.log(okMock);
            console.log(okMock.api.listTest);*/
            laydate.render({elem: "#startTime", type: "datetime"});
            laydate.render({elem: "#endTime", type: "datetime"});

            var userTable = table.render({
                elem: '#tableId',
                url: okMock.api.listTest,
                limit: 20,
                page: true,
                toolbar: true,
                toolbar: "#toolbarTpl",
                size: "sm",
                cols: [[
                    {type: "checkbox", fixed: "left"},
                    {field: "id", title: "用例编号", width: 100, sort: true},
                    {field: "testMark", title: "用例描述", width: 150},
                    {field: "uri", title: "接口", width: 100,align:"center"},
                    {field: "rely", title: "测试依赖", width: 100},
                    {field: "type", title: "用例类型", width: 100},
                    {title: "操作", width: 100, align: "center", fixed: "right", templet: "#operationTpl"}
                ]],
                done: function (res, curr, count) {
                    console.info(res, curr, count);
                }
            });

            form.on("submit(search)", function (data) {
                userTable.reload({
                    where: data.field,
                    page: {curr: 1}
                });
                return false;
            });

            table.on("toolbar(tableFilter)", function (obj) {
                switch (obj.event) {
                    case "batchEnabled":
                        batchEnabled();
                        break;
                    case "batchDisabled":
                        batchDisabled();
                        break;
                    case "batchDel":
                        batchDel();
                        break;
                    case "add":
                        add();
                        break;
                }
            });

            table.on("tool(tableFilter)", function (obj) {
                var data = obj.data;
                switch (obj.event) {
                    case "edit":
                        edit(data);
                        break;
                    case "del":
                        del(data.id);
                        break;
                }
            });

            function batchEnabled() {
                okLayer.confirm("确定要批量启用吗？", function (index) {
                    layer.close(index);
                    var idsStr = okUtils.tableBatchCheck(table);
                    if (idsStr) {
                        okUtils.ajax("/user/normalUser", "put", {idsStr: idsStr}, true).done(function (response) {
                            console.log(response);
                            okUtils.tableSuccessMsg(response.msg);
                        }).fail(function (error) {
                            console.log(error)
                        });
                    }
                });
            }

            function batchDisabled() {
                okLayer.confirm("确定要批量停用吗？", function (index) {
                    layer.close(index);
                    var idsStr = okUtils.tableBatchCheck(table);
                    if (idsStr) {
                        okUtils.ajax("/user/stopUser", "put", {idsStr: idsStr}, true).done(function (response) {
                            console.log(response);
                            okUtils.tableSuccessMsg(response.msg);
                        }).fail(function (error) {
                            console.log(error)
                        });
                    }
                });
            }

            function batchDel() {
                okLayer.confirm("确定要批量删除吗？", function (index) {
                    layer.close(index);
                    var idsStr = okUtils.tableBatchCheck(table);
                    if (idsStr) {
                        okUtils.ajax("/user/deleteUser", "delete", {idsStr: idsStr}, true).done(function (response) {
                            console.log(response);
                            okUtils.tableSuccessMsg(response.msg);
                        }).fail(function (error) {
                            console.log(error)
                        });
                    }
                });
            }

            function add() {
                okLayer.open("添加用例", "test-add.html", "90%", "90%", null, function () {
                    userTable.reload();
                })
            }

            function edit(data) {
                okLayer.open("编辑用例", "test-edit.html", "90%", "90%", function (layero) {
                        var iframeWin = window[layero.find("iframe")[0]["name"]];
                        iframeWin.initForm(data);
                }, function () {
                    userTable.reload();
                })
            }

            function del(id) {
                okLayer.confirm("确定要删除吗？", function () {
                    okUtils.ajax("/user/deleteUser", "delete", {idsStr: id}, true).done(function (response) {
                        console.log(response);
                        okUtils.tableSuccessMsg(response.msg);
                    }).fail(function (error) {
                        console.log(error)
                    });
                })
            }
        })
    </script>
    <!-- 头工具栏模板 -->
    <script type="text/html" id="toolbarTpl">
        <div class="layui-btn-container">
            <!--<button class="layui-btn layui-btn-sm layui-btn-normal" lay-event="batchEnabled">批量启用</button>
            <button class="layui-btn layui-btn-sm layui-btn-warm" lay-event="batchDisabled">批量停用</button>
            <button class="layui-btn layui-btn-sm layui-btn-danger" lay-event="batchDel">批量删除</button>-->
            <button class="layui-btn layui-btn-sm" lay-event="add">添加接口</button>
        </div>
    </script>
    <!-- 行工具栏模板 -->
    <script type="text/html" id="operationTpl">
        <a href="javascript:" title="编辑" lay-event="edit"><i class="layui-icon">&#xe642;</i></a>
        <a href="javascript:" title="删除" lay-event="del"><i class="layui-icon">&#xe640;</i></a>
    </script>
    <!-- 启用|停用模板 -->
    <script type="text/html" id="statusTpl">
        {{#  if(d.status == 0){ }}
            <span class="layui-btn layui-btn-normal layui-btn-xs">已启用</span>
        {{#  } else if(d.status == 1) { }}
            <span class="layui-btn layui-btn-warm layui-btn-xs">已停用</span>
        {{#  } }}
    </script>
    <!--参数类型-->
    <script type="text/html" id="dependTp1">
        {{#  if(d.depend == 0){ }}
         <span class="layui-btn layui-btn-normal layui-btn-xs">无依赖</span>
        {{#  } else if(d.depend != 0) { }}
            <span class="layui-btn layui-btn-warm layui-btn-xs">{{d.depend}}}</span>
    </script>
    <!--请求体参数类型-->
    <script type="text/html" id="headerPassParameterTypeTpl">
        {{#  if(d.headerPassParameterType == 0){ }}
        <span class="layui-btn layui-btn-normal layui-btn-xs">无传参</span>
        {{#  } else if(d.headerPassParameterType == 1) { }}
            <span class="layui-btn layui-btn-warm layui-btn-xs">有传参</span>
        {{#  } }}
    </script>
    <!--接口参数类型-->
    <script type="text/html" id="apiPassParameterTypeTpl">
        {{#  if(d.apiPassParameterType == 0){ }}
        <span class="layui-btn layui-btn-normal layui-btn-xs">无传参</span>
        {{#  } else if(d.apiPassParameterType == 1) { }}
            <span class="layui-btn layui-btn-warm layui-btn-xs">有传参</span>
        {{#  } }}
    </script>
    <!--参数类型-->
    <script type="text/html" id="requestMethodTp1">
        {{#  if(d.requestMethod == 1){ }}
        <span class="layui-btn layui-btn-normal layui-btn-xs">get</span>
        {{#  } else if(d.requestMethod == 2) { }}
            <span class="layui-btn layui-btn-normal layui-btn-xs">post</span>
        {{#  } else if(d.requestMethod == 3) { }}
            <span class="layui-btn layui-btn-normal layui-btn-xs">put</span>
        {{#  } }}
    </script>
</body>
</html>
