<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper
                PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chapter6.mapper.HeaderMapper">

<resultMap id="HeaderResultMap" type="com.chapter6.model.Header">
    <result column="" property=""/>
</resultMap>
<select id="headerList" resultMap="HeaderResultMap">
    select * from header;
</select>
<select id="headerById" resultType="java.lang.String">
    select name from header where headerId = #{headerId};
</select>

</mapper>