<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>wangEditor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../../static/home/css/oksub.css">
</head>
<body>
    <div class="ok-body">
        <div id="editor">

        </div>
    </div>
    <script src="../../../static/home/lib/wangEditor/release/wangEditor.min.js"></script>
    <script type="text/javascript">
        var E = window.wangEditor;
        var editor = new E("#editor");
        editor.create();
    </script>
</body>
</html>
